/*
Taren Chen
Taren_Chen@student.uml.edu
CS UserName: tchen1

this is the css page for my HW4 Assignment

passed CSS validator

DISCLAIMER: ALL LOGO FROM COMPANIES ARE FROM EITHER THEIR WEBSITE OR GOOGLE

*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

/*Nav Bar*/

.navbar-nav{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.FrontPage li{
    padding-left:30px;
    padding-right:30px;
}

@media (min-width: 768px) {
  li {
    display: inline-block !important;
  }
}


.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    background-color: transparent;
}
.navbar-color{
    background-color: #3AAFA9!important;
}

/* FrontPage */

.FrontPage{
    background: url("../pictures/mtlay.JPG");
    background-color: #1e1f26;
    min-height: 950px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}

/* Education and Experience and GUI page styling

Gave imgs borders and fix sizes

Most of the other styling is for spacing.

*/
img[src="./pictures/umass.png"]{
    display: block;
    margin: auto;
    width: 250px;
    height: 300px;
    border-style: solid;
}
img[src="./pictures/redhat.jpg"], img[src="./pictures/philips.png"], img[src="./pictures/fidelity.jpg"], img[src="./pictures/jp.jpg"]{
    width: 275px;
    height: 250px;
    display: block;
    margin: auto;
    border-style: solid;
}
#EXPERIENCE, #EDUCATION, #HW{
    padding-top: 2rem;
    min-height: 600px;
    padding-bottom: 3%;
    margin: 0 auto;

}
h1{
    text-align: center;
    color: #1e1f26;
    font-weight: bold;
}

h5{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
h4{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
p{
    padding-top: 2%;
    text-align: center;
}
.card{
    max-width: 30rem;
}
.card-header{
    font-weight: bold!important;
}

/* Styling for the GUI html page where I list all the HW assignments. */

#HW{
    text-align: center;
    min-height: 950px;
}

/* Footer */
footer{
    background-color: #3AAFA9!important;
    min-height: 200px;
    text-align: center;
    color:white;
    border-top-color: black!important;
    border-color: #3AAFA9;
    border-style: solid;
}
