.content{
  padding-top: 5%;
  min-height: 975px;
}

table{
  background-color: white;
  table-layout: fixed;

  overflow-x: auto;
}

table, td {
    border: 4px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

.description{
  color: rgb(219, 182, 113);
  font-style: italic;
}

#errors{
  color:red;
  font-style: italic;
}

td:nth-child(1) {background-color:  rgb(0, 255, 85) !important;}
tr:nth-child(1) {background-color: rgb(0, 255, 85) !important;}