/*
HW8:
This is HW8 for GUI 1 Course at UMass Lowell
Passed CSS validator
and the link to access it is https://tarenchen.github.io/hw8/scrabble.html
*/

/* center the board */
#board{
    margin: auto;
    text-align: center;
}
/* remove default styling from list items and make them inline */
#board li{
    list-style: none;
    display: inline-block;
}
/* give a nice background pic of wood */
#rack{
    background-image:url("./pictures/woodbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 700px;
    min-height: 100px;
    margin: auto;
    text-align: center;
    border: solid;
    padding-top: 1%;
    margin-top: 5%;

}
/* size of the blocks */
#rack img{
    width: 60px;
    height: 60px;
    padding: 5%;
}

/* get the pictures of the board*/
.emptyBoard{
    content:url("./pictures/blank_board.PNG");
}
.doubleLetter{
    content:url("./pictures/double_letterboard.PNG");
}
